<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logo-argentina.png" alt="logo-argentinaprograma" id="logoAP">
        </div>
        <div><br></div>
        <div class="redes">
            <a href="http://github.com/improvola"><img src="../../../assets/github.png" alt="github"></a>
            <a href="https://www.linkedin.com/in/melanie-alexia-improvola-carballo/"><img src="../../../assets/linkedin.png" alt="linkedin"></a>
            <a href="https://www.instagram.com/improv.design/"><img src="../../../assets/instagram.png" alt="instagram"></a>
            <a href="https://www.facebook.com/melaniealexia.improvolacarballo/"><img src="../../../assets/facebook.png" alt="facebook"></a>
        &nbsp;
        <button type="button" (click)="login()" class="btn btn-outline-light">INGRESAR</button>
        
        </div>
    </div>
</div>

