<div class="row">
    <h1>Proyectos realizados</h1>
    <br>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>App de Notas</h2>
            <p>Proyecto de Notas que funciona de forma Online y Offline con Service Worker <br>
                Se puede instalar (manifest.json) la aplicación y utilizarlo de forma desktop como mobile. Anota lo que quieras en tiempo real con fecha y hora exacta.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <a href="https://improvola.github.io/finalapps/"><img class="img-fluid img-proyecto" src="../../../assets/proyecto1.png" alt="notas"></a>
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Buscador de peliculas</h2>
            <p>Buscador de películas trabajado con Vue.js. Renderiza de forma rápida y guarda la selección <br>
            en el localStorage. Se puede likear al card de tu película favorita. </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <a href="http://improvola.github.io/peliculas-vue"><img class="img-fluid img-proyecto" src="../../../assets/proyecto3.png" alt="buscador"></a>
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Tienda e-Commerce</h2>
            <p>Tienda virtual realizada como trabajo final de la carrera de Diseño Web y Programación. <br>
            Se llevaron a cabo las metologias ágiles y la buena comunicación entre los compañeros para tener una mayor organización, así como también la <br>
        elaboración de un diagrama de Gantt, implementación total y trabajo en equipo.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <a href="http://improvola.github.io/guardapolvoslady"><img class="img-fluid img-proyecto" src="../../../assets/proyecto2.png" alt="tienda"></a>
        </div>
    </div>
</div>