<div class="row">
    <h1>EXPERIENCIA LABORAL</h1>
    
    <div class="col-lg-11">
        <ul>
            <li>MTI Bordados – NIQUITEX <br>
                (2022 – Actualidad) <br>
                Diseño e Ilustración digital para prendas estampadas para serigrafía.</li>
        </ul>
        <ul>
            <li>Uniformar-C – Empleada <br>
                (2021-2022) <br>
                Control de stock, data entry, logística y distribución. Vectorización de logos y escudos a estampar/bordar. <br>
                Armado de fichas técnicas y órdenes de trabajo.</li>
        </ul>
        <ul>
            <li>Proyecto cortometraje “Yo te Protejo” <br>
                (2021-2022) <br>
                Ilustración de fondos y escenas para cortometraje infantil. Vectorización, coloreado, adaptación y <br> 
                separación de capas. FINALIZADO.</li>
        </ul>
        <ul>
            <li>Diseñadora FreeLancer | [@improv.design] <br>
                (2020-2021) <br>
                Branding de marcas. Creación de logos, isologos, ilustraciones y vectorización para emprendientos, <br> 
                redes sociales y particulares.</li>
        </ul>
        <ul>
            <li>Community Manager | FiestaGrum <br>
                (Febrero 2018- Enero 2020) <br>
                Community manager: Diseño de flyers, feeds, stories y videos promocionales. Gestión de redes sociales. <br> 
                Elaboración de campañas Facebook Ads e Instagram Ads.</li>

        </ul>
    </div>
</div>