
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        
        <img src="../../../assets/foto-perfil.png" alt="foto-perfil" class="img-fluid" id="fotodeperfil"></div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">MELANIE IMPROVOLA
            {{persona.nombre}} &nbsp; {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>¡Hola! Soy Melanie, tengo 26 años y actualmente estoy trabajando como Diseñadora Gráfica en una empresa textil.
               <br> Desde chica disfruto del diseño, por lo que aprovecho cada oportunidad para desarrollar esta pasión. 
               <br> En cuanto al área de marketing, es algo que realmente me interesa y busco seguir aprendiendo en todo momento.</p>
        </span>
    </div>
</div>