<div class="row">
    <h1>FORMACION ACADEMICA</h1>
    
    <div class="col-lg-11">
        <ul>
            <li>Actualidad - Universidad de la Ciudad - Licenciatura en Tecnologias Digitales</li>
        </ul>
        <ul>
            <li>2021 – 2022: EMAE – Tecnicatura Superior en Diseño Web y
                Programación. Promedio de 9.20 total. FINALIZADO</li>
        </ul>
        <ul>
            <li>2022 – EMAE – Titulo Intermedio: Gestion de Medios Digitales</li>
        </ul>
    </div>
</div>