<div class="row">
    <h1>Hard & Soft Skills </h1>

            <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="85"
                [radius]="100"
                [showUnits]="false"
                [title]="'JavaScript'"
                [titleFontSize]="'1.8em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#FFD013'"
                [innerStrokeColor]="'#E2CE6A'"
                [animation]="true"
                [animationDuration]="1200"
                [titleColor]="'white'"
                
        ></circle-progress>
            </div>


        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="89"
            [radius]="100"
            [showUnits]="false"
            [title]="'CSS'"
            [titleFontSize]="'1.8em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#0054EF'"
            [innerStrokeColor]="'#8DAAE1'"
            [animation]="true"
            [animationDuration]="1200"
            [titleColor]="'white'"
        ></circle-progress></div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="65"
            [radius]="100"
            [showUnits]="false"
            [title]="'PHP'"
            [titleFontSize]="'1.8em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#906AE2'"
            [innerStrokeColor]="'#8A72BF'"
            [animation]="true"
            [animationDuration]="1200"
            [titleColor]="'white'"
        ></circle-progress></div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="68"
            [radius]="100"
            [showUnits]="false"
            [title]="'SQL'"
            [titleFontSize]="'1.8em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#EA7979'"
            [innerStrokeColor]="'#DA4343'"
            [animation]="true"
            [animationDuration]="1200"
            [titleColor]="'white'"
        ></circle-progress>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="55"
                [radius]="100"
                [showUnits]="false"
                [title]="'Angular'"
                [titleFontSize]="'1.8em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#FFFF28'"
                [innerStrokeColor]="'#E8E851'"
                [animation]="true"
                [animationDuration]="1200"
                [titleColor]="'white'"
                
        ></circle-progress>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="90"
                [radius]="100"
                [showUnits]="false"
                [title]="'GITHUB'"
                [titleFontSize]="'1.8em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#CE93FF'"
                [innerStrokeColor]="'#946AB6'"
                [animation]="true"
                [titleColor]="'white'"
                [animationDuration]="1200"
            ></circle-progress></div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="99"
                [radius]="100"
                [showUnits]="false"
                [title]="'MS WORD'"
                [titleFontSize]="'1.8em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#4C72BA'"
                [innerStrokeColor]="'#86A9EA'"
                [animation]="true"
                [animationDuration]="1200"
                [titleColor]="'white'"
                
        ></circle-progress>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="90"
                [radius]="100"
                [showUnits]="false"
                [title]="'MS EXCEL'"
                [titleFontSize]="'1.8em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#5FBA4C'"
                [innerStrokeColor]="'#2E8C1B'"
                [animation]="true"
                [animationDuration]="1200"
                [titleColor]="'white'"
                
        ></circle-progress>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="95"
                [radius]="100"
                [showUnits]="false"
                [title]="'Power Point'"
                [titleFontSize]="'1.8em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#CA0000'"
                [innerStrokeColor]="'#AD2D2D'"
                [animation]="true"
                [animationDuration]="1200"
                [titleColor]="'white'"
                
        ></circle-progress>
            </div>
</div>